name: mangopay2-php-sdk-cd

on:
  push:
    branches:
      # push on master branch
      - master
  pull_request:
    branches: [ master ]


jobs:
  test-php:
    name: Test on php ${{ matrix.php-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version: ["7.3", "7.4", "8.0", "8.1", "8.2"]
        os: [ubuntu-latest]
        experimental: [false]
        composer-options: ['']
        include:
          - { php-version: '8.1', composer-options: '--ignore-platform-req=php', experimental: true, os: ubuntu-latest }
    steps:
      - uses: actions/checkout@v2
      - name: Use php ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug
      - name: Cache module
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/
          key: composer-cache
      - name: Install dependencies
        run: composer install --no-interaction ${{ matrix.composer-options }}
      - name: Run php tests
        run: ./vendor/bin/phpunit
